/* navigator */
.header {
  background-color: #3498db;
  padding: 10px;  /*讓上面的各種東西跟邊界都有10px的距離*/
  display: flex;
  justify-content: space-around;
  height: 50px;  /*看來是不能用趴數*/
}

.header a {
  text-decoration: none; /* 移除链接下划线 */
  color: #ffffff; /* 设置默认文字颜色为白色 */
}

.header a:hover {
  color: #666666; /* 鼠标悬停时文字颜色变为灰色 */
}

.menu {
  background-color: #00aeff; /* 设置导航栏背景颜色为深灰色 */
  color: #fff; /* 设置文字颜色为白色 */
}

.subMenu {
  list-style: none; /* 移除列表项的默认样式 */
  padding: 0;
  margin: 0;
}

.mainLink {
  position: relative; /* 设置相对定位，以便下拉菜单能够相对于此位置显示 */
  display: inline-block; /* 让导航项以块级元素显示 */
}

.sublink {
  display: none; /* 初始时隐藏下拉菜单 */
  position: absolute; /* 设置绝对定位，相对于具有相对定位属性的父元素 */
  top: 100%; /* 将下拉菜单定位在主菜单下方 */
  left: 0;
  background-color: #444; /* 设置下拉菜单背景颜色为深灰色 */
  padding: 10px;
}

.mainLink:hover .sublink {
  display: block; /* 鼠标悬停时显示下拉菜单 */
}

.sublink li {
  margin-bottom: 10px; /* 下拉菜单项之间的间距 */
}

.sublink a {
  color: #fff; /* 下拉菜单项的文字颜色为白色 */
  text-decoration: none; /* 移除下拉菜单项的下划线 */
}

.sublink a:hover {
  text-decoration: underline; /* 鼠标悬停时显示下划线 */
}