.app-container {
    padding-top: 80px; /* 頁面內容跟navbar之間的距離 */
  }
  
  
  .app-title {
    font-size: 24px;
    text-align: center;
  }
  
  .card {
    border: 1px solid #ccc;
    padding: 30px;
    border-radius: 10px;
    width: 26vw;
    margin: 50px auto; /* 設定邊邊讓小卡置中 */
    text-align: center; /* 讓小卡內的文字置中 */
  }
  
  .card input {
    width: 25vw; /* 卡片內的輸入框變寬 */
    height: 5vh; /* 卡片內的輸入框變長 */
    margin-bottom: 20px; /* 卡片內的下方按鈕佔的空間 */
    font-size: 15px; /* 設定卡片內的輸入框的字體大小 */
  }
  
  .button-employee-container {
    display: flex;
    justify-content: center;
    width: 26vw;
  }
  
  .employee-login-button {
    background-color: #C7B198;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 12vw; /* 使按鈕寬度為48%，以留有些許間隔 */
    height: 10vh;
  }
  
  .login-button:hover,
  .register-button:hover {
    background-color: #b3a08a; /* 更深的顏色 */
  }
  
  .forgot-password {
    margin-top: 20px; /* 跟上面的距離 */
  }