/*框框*/
.register-forgetpassword {
    max-width: 400px;
    margin: 10% auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center; /*内容右對齊*/
  }
  
  /* 輸入的部分 */
  /* 分區 */
  .register-forgetpassword .inputEmail,
  .register-forgetpassword .inputPassword,
  .register-forgetpassword .inputConfirmPassword {
    width: 100%;
    height: 30px;  /*輸入框的高度*/
    margin-bottom: 10px;  /*每區的間距*/
    display: flex;
  }
  
  /* 文字 */
  .register-forgetpassword .emailLabel,
  .register-forgetpassword .passwordLabel,
  .register-forgetpassword .confirmPasswordLabel {
    margin-right: 10px;  /* 調整標籤和輸入框之間的距離 */
    min-width: 200px; /* 最小寬度，可以根據實際需要調整 */
    text-align: right;
  }
  
  /* 輸入框 */
  .register-forgetpassword input[type="text"],
  .register-forgetpassword input[type="date"],
  .register-forgetpassword input[type="tel"],
  .register-forgetpassword input[type="email"],
  .register-forgetpassword input[type="password"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 25px;
    width: calc(100% - 110px); /* 寬度計算，總寬度減去標籤的寬度 */
  }
  
  /*送出按鈕*/
  .register-forgetpassword button[type="submit"] {
    background-color: #C7B198;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /*送出按鈕(鼠標放上去)*/
  .register-forgetpassword button[type="submit"]:hover {
    background-color: #b3a08a;
  }