body{
    background-color: #F0ECE2;
}
.list{
    position: fixed;
    top:0%;
    left:0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    height:10vh;
    width: 100vw;
    background-color: #C7B198;
}
.button-main{
    height:10vh;
    width:15vw;
    border: none;
    background-color: #C7B198;
}
.button-sub{
    height:10vh;
    width:10vw;
    border: none;
    background-color: #C7B198;
}
.button-search{
    height:10vh;
    width:5vw;
    border: none;
    background-color: #C7B198;
}
.input-main{
    height:9vh;
    width:10vw;
    border: none;
    padding-left: 20px;
    background-color: #C7B198;
}
.logo-search{
    width: 30px;
    height: 30px;
    text-align: center;
    background-image: url('../public/search.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    transform: translate(0%, 0%);
    border:none;
  }
.blankpart{
    height: 10vh;
    width:30vw;
}
.button-container{
    height: 10vh;
    width: 40vw;
}
.blank{
    top: 0%;
    height:10vh;
}
.postslider{
    justify-content: center;
    align-content: center;
    max-width: 100vw;
    width:100%;
    overflow: hidden;
}
h1{
    padding-left: 5vw;
}
