.payment-card {
    font-family: Arial, sans-serif;
    padding: 20px;
    width: 80%; /* 調整卡片寬度 */
    margin: 0 auto; /* 讓卡片水平居中 */
  }
  
  .information h2 {
    text-align: left;
    font-size: 20px; /* 調整按鈕文字大小 */
    padding: 20px 20px; /* 調整內容與按鈕邊緣的距離 */
  }
  
  .select-wrapper {
    margin-top: 10px;
  }
  
  select {
    padding: 8px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  input[type='text'],
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .button-payment {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .popup p {
    margin-bottom: 10px;
  }

  