  .movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2%;
  }
  
  .movie-card {
    width: calc(20% - 20px); /* 20% width for each card with 20px gap */
    box-sizing: border-box;
    margin-bottom: 2%;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .movie-poster {
    position: relative;
  }
  
  .movie-poster img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .movie-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 8px;
  }
  
  .movie-info h3 {
    margin: 0;
    color: white;
    font-size: 16px;
    text-align: center;
  }
  
  .movie-types {
    display: flex;
    justify-content: center;
  }
  
  .movie-types span {
    margin: 0 1%;
    color: #fff;
    background-color: #007bff;
    padding: 0.6% 2%;
    border-radius: 1%;
    font-size: 12px;
  }



  .movie-card {
    position: relative;
  }
  
  .movie-checkbox {
    position: absolute;
    top: 10px; /* Adjust the top positioning */
    left: 50%; /* Move to the horizontal center */
    transform: translateX(-50%); /* Center the checkbox horizontally */
    z-index: 10; /* Ensure the checkbox appears above the poster */
    border: 2px solid #ff0000; /* Change border color */
    border-radius: 5px; /* Optional: Add border-radius for style */
    padding: 5px; /* Optional: Add padding for the checkbox */
  }