.tickettypenormal .title {
    width: 80%;
    margin: 15vh auto;
    text-align: center;
}

.tickettypenormal h1 {
    text-align: center;
    color: #000000;
}

.tickettypenormal .comment {
    font-size: 8px;
    color: #595959;
}

.ticketnormal {
    margin: 15vh auto; /* Update this line to set top and bottom margin to 15vh and left and right margin to auto */
    width: 80%;
    text-align: center;
}

.ticketnormal table {
    border-collapse: collapse;
    width: 100%; /* Set the table width to 100% */
    text-align: center;
}
  
.ticketnormal th, .ticketnormal td {
    border: 1px solid #C7B198;
    padding: 8px;
    text-align: left;
}
  
.ticketnormal th {
    background-color: #C7B198;
}

.tickettypenormal select {
    border: 3px solid #C7B198;
    border-radius: 5px;
}