.inputImgURL {
    margin-top: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputImgURL .title,
.inputImgURL .imgURL {
    margin-left: 5vw;
}

.inputImgURL .title {
    font-weight: bold;
}

.imgURL {
    border: 1px solid #C7B198;
    border-radius: 5px;
    height: 25px;
    width: 50vw;
}

.inputImgURL button {
    display: inline-block;
    margin-left: 10vw;
    background-color: #C7B198;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    width: 5vw;
    height: 8vh;
    cursor: pointer;
}

.inputImgURL button:hover {
    background-color: #b3a08a;
}

.previewImg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* width: 100vw; */
    height: 80vh; /*Adjust the height as needed */
    margin-top: 5vh;
}

.previewImg img {
    max-width: 100%;
    max-height: 100%;
}