.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 置中 */
    text-align: center;
  }
  
  .centered-container p {
    margin-bottom: 5%; /* 間距 */
  }
  

  .centered-container a {
    text-decoration: underline; /* 加底線 */
    font-weight: bold; /* 粗體 */
    color: blue; 
  }